@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color:  hsl(270, 20%, 96%);
}
.bar {
    display: flex;
    margin-top: -10px;
    margin-left: 19%;
    width: 180px;
    height: 35px;
    background-color: white;
    border-radius: 15px;
    border: white 1px solid;
    position: relative;
}
.main__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 325px;
    border: white 12px solid;
    border-radius: 30px;
    background-color: hsl(270, 20%, 96%);
    box-shadow: 7px 10px 18px -2px rgba(0,0,0,0.44);
}
.owner {
    height: 80px;
    display: grid;
    grid-column: auto;
    border-radius: 25px 25px 10px 10px;
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    box-shadow: 4px 7px 13px -8px #000000;
}
.owner--data {
    margin-top: -20px;
    display: inline-flex;
    justify-content: space-around;
}

.owner__list--container{
    margin-top: 9%;
    position: relative;
    margin-left: -23%;
}
.owner h4 {
    color: hsl(276, 100%, 81%);
}
.owner p {
    font-size: 11px;
    font-weight: 50;
    color: hsl(276, 100%, 81%);
}
.owner__image--container{
    margin-left: -30%;
    margin-top: 10%;
    max-width: 30px;
}
.owner__image--container img {
    border-radius: 15rem;
    border: white 2px solid;
    width: 100%;
}
.owner a {
    margin-top: 10%;
}
.chat,  .chat1, .chat2 {
    background-color: hsl(270deg 40% 90%);
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    margin-right: 30%;
    margin-left: 5%;
}
.chat p,
.chat1 p,
.chat2 p {
    color: hsl(276, 55%, 52%);
}
.photos__section {
    display: inline-flex;
    justify-content:space-around;
    margin-right: 5%;
    margin-left: 30%;
}
.photos__section img {
    width: 50px;
    margin: 10%;
}
.perrito1 img,
.perrito2 img,
.perrito3 img{
    border-radius: 15px;
}
.right, .right1 {
    background-color: white;
    color: hsl(271, 15%, 43%);
    margin: 2%;
    margin-left: 30%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 4px 4px 13px -8px #000000;
}
.right1 {
    display: flex;
    align-self: flex-end;
    width: 50%;
}
.timer, .timer1 {
    display: inline-flex;
    justify-content: space-between;
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: white;
    margin: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 30%;
    padding: 3%;
    border-radius: 10px;
}
.timer p,
.timer1 p {
    font-weight: 400;
    font-size: 10px;
}
.timer p{
    padding-top: 2%;
    margin-left: -25%;
}
.timer1 p {
    padding-top: 2%;
    margin-left: -30%;
}
.timer strong, 
.timer1 strong{
    color: white;
}
.timer__circle,
.timer1__circle{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border: white 1px solid;
}
.placeholder {
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5%;
}
.placeholder p {
    font-size: small;
    margin: 5%;
    color: hsl(270, 7%, 64%);
}
.placeholder a {
    width: 35px;
    height: 35px;
    border-radius: 50rem;
    background-color: hsl(271, 36%, 24%);
}
.arrow img {
    width: 30px;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    margin: 5%;
    text-align: center;
}
footer h1 {
    color: hsl(271, 36%, 24%);
}
footer p {
    color: hsl(270, 7%, 64%);
    font-weight: 400;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
}

.phone__container {
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(270, 20%, 96%));
}

